h1{
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type=submit] {
    background-color: blue;
    color: white;
  }

  .container {
    background-color: #f1f1f1;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
  }

  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }